<div class="container">
  <div class="row">
    <div class="my-font col-xs-12 col-sm-8 col-sm-offset-2">
      <h3 class="text-center">Expiriens</h3>
      <form class="form-horizontal" #appLogin="ngForm" novalidate>
        <p class="error text-center" *ngIf="signInError">Error in email or in password!</p>
        <div class="form-group">
          <label for="inputEmail" class="col-sm-2 form-label">Email</label>
          <div class="col-sm-10">
            <input type="email" [ngClass]="{'error': (email.touched && email.invalid) || signInError}" 
              class="form-input" #email="ngModel" [(ngModel)]="userLogin.email" name="email"
              id="inputEmail" placeholder="Email" pattern=".+@.+\..+" required>
            <span class="col-sm-10 error" *ngIf="email.touched && email.invalid && email.errors.required">Enter here your email</span>
            <span class="error" *ngIf="email.touched && email.invalid && email.errors.pattern">Email must have @ and .</span>   
          </div>    
        </div>
        <div class="form-group">
          <label for="inputPassword" class="col-sm-2 form-label">Password</label>
          <div class="col-sm-10">
            <input type="password" [ngClass]="{'error': (password.touched && password.invalid) || signInError}"
              class="form-input" #password="ngModel" [(ngModel)]="userLogin.password" name="password"
              id="inputPassword" placeholder="Password" required>       
            <span class="error" *ngIf="password.touched && password.invalid">Enter here your password</span>   
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
              <label>
                <input type="checkbox"> Remember me
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-5">
            <button class="btn btn-style" (click)="onSignIn()">Sign in</button>
          </div>
          <div class="col-sm-5">
            <button class="btn btn-style" routerLink="/blog/signup">Sign up</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
