.my-font {
  color: #461221 ;
  background-color: #4d5369;
  padding: 20px;
}

.form-group {
  padding: 10px;
}

.form-label {
  color: #461221 ;
  font-weight: bold;
}

.form-input {
  width: 100%;
  background: transparent;
  border: none;
  color: #d9686e;
  border-bottom: 2px solid #a4abb2;
}

p.error{
  color: #fc152e;
  font-size: 20px;
}

span.error{
  color: #fc152e;
  font-size: 16px;
}

input.error{
  width: 100%;
  border: none;
  background: transparent;
  border-bottom: 2px solid #fc152e;
}

.btn-style {
  padding: 5px 30px;
  background: #d9686e;
  letter-spacing: 2px
}

.btn-style:hover {
  padding: 5px 30px;
  background: #d9686e;
  color: #a4abb2;
  letter-spacing: 2px
}
