<h1 class="page-header">Users</h1>

<ng2-smart-table 
  [settings]="settings" 
  [source]="source"
  (deleteConfirm)="onDeleteConfirm($event)"
  (editConfirm)="onSaveConfirm($event)">
</ng2-smart-table>