<h3 class="text-center text-error">Ваш отзыв</h3>
<div class="row">
  <form class="form-horizontal col-xs-12" #f="ngForm" novalidate>
    <p class="error text-center" *ngIf="fieldError">Error in {{fieldError}}</p>
    <div class="form-group row">
      <label for="firstName" class="col-sm-3 col-xs-12 control-label">First Name*</label>
      <app-input-wrapper
        [fieldName]="firstName"
        [patternErrorMessage]="'Name cannot include number or symbol and have not more than 20 letters'"
        [form]="f">
        <input type="text" class="form-control" id="firstName" #firstName="ngModel"
          [(ngModel)]="user.firstName" name="firstName"  pattern="^[A-Za-zА-Яа-яЁё]{1,20}$" placeholder="Enter first name" required>
      </app-input-wrapper>
    </div>
    <div class="form-group row">
      <label for="lastName" class="col-sm-3 col-xs-12 control-label">Last Name*</label>
      <app-input-wrapper
          [fieldName]="lastName"
          [patternErrorMessage]="'Name cannot include number or symbol and have not more than 20 letters'"
          [form]="f">
          <input type="text" class="form-control" id="lastName" #lastName="ngModel"
          [(ngModel)]="user.lastName" name="lastName" pattern="^[A-Za-zА-Яа-яЁё]{1,20}$" placeholder="Enter last name" required>
      </app-input-wrapper>
    </div>
    <div class="form-group row">
      <label for="userName" class="col-sm-3 col-xs-12 control-label">Nick Name*</label>
      <app-input-wrapper
        [fieldName]="userName"
        [patternErrorMessage]="'Name cannot include kirilic'"
        [form]="f">
        <input type="text" class="form-control" id="userName" #userName="ngModel"
          [(ngModel)]="user.userName" name="userName"  pattern="^[A-Za-zА-Я1-9\s]+$" placeholder="Enter nick name" required>
      </app-input-wrapper>
    </div>
    <div class="form-group row">
      <label for="email" class="col-sm-3 col-xs-12 control-label">Email*</label>
      <app-input-wrapper
        [fieldName]="email"
        [patternErrorMessage]="'It is not email'"
        [form]="f">
        <input type="email" class="form-control" id="email"  #email="ngModel"
          [(ngModel)]="user.email" name="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" placeholder="Enter your e-mail" required>
      </app-input-wrapper>
    </div>
    <div class="form-group row">
      <label for="password" class="col-sm-3 col-xs-12 control-label">Password*</label>
      <app-input-wrapper
        [fieldName]="password"
        [patternErrorMessage]="'Password is very short'"
        [form]="f">
        <input type="password" class="form-control" id="password" validateEqual="confirmPassword" reverse="true"
          #password="ngModel" [(ngModel)]="user.password" name="password" minlength="6" placeholder="Enter your password" required>
      </app-input-wrapper>
    </div>
    <div class="form-group row">
      <label for="confirmPassword" class="col-sm-3 col-xs-12 control-label">Repeate password*</label>
      <app-input-wrapper
        [fieldName]="confirmPassword"
        [patternErrorMessage]="'It is not right'"
        [form]="f">
        <input type="password" class="form-control" id="confirmPassword" [(ngModel)]="user.confirmPassword"  validateEqual="password"
          reverse="false" #confirmPassword="ngModel" name="confirmPassword" placeholder="Repeate your password" required>
      </app-input-wrapper>
    </div>
    <div class="form-group row">
      <label for="birthYear" class="col-sm-3 col-xs-12 control-label">Birth Year*</label>
      <app-input-wrapper
        [fieldName]="birthYear"
        [patternErrorMessage]="'Year must be >1916 and < 2016'"
        [form]="f">
        <input type="text" class="form-control" id="birthYear" [(ngModel)]="user.birthYear" validateCorrectYear="birthYear"
          #birthYear="ngModel" name="birthYear" placeholder="Enter your birth year"  pattern="\d{4}$" required>
      </app-input-wrapper>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-xs-12 control-label">Country*</label>
      <div class="col-sm-8 col-xs-12" [ngClass]="{'has-success': countryValid, 'has-error': countryRequired || countryPattern}">
        <ng-select
          class="lol"
          [multiple]="false"
          [allowClear]="true"
          (data)="value"
          [items]="countries"
          (selected)="selected($event)"
          (removed)="removed($event)"
          (typed)="typed($event)"
          placeholder="Enter country, where are you live">
        </ng-select>
        <span class="error" *ngIf="countryRequired || (!countryValid && f.submitted)">Field must be filled</span>
        <span class="error" *ngIf="countryPattern || (!countryValid && f.submitted)">Name cannot include number and haven't more than 20 letters</span>
      </div>
    </div>
    <div class="form-group row">
      <label for="city" class="col-sm-3 col-xs-12 control-label">City*</label>
      <app-input-wrapper
        [fieldName]="city"
        [patternErrorMessage]="'Name cannot include number'"
        [form]="f">
        <input type="text" class="form-control" id="city"
          #city="ngModel" [(ngModel)]="user.city" name="city" pattern="^[A-Za-zА-Яа-яЁё]+$" placeholder="Enter city, where are you live" required>
      </app-input-wrapper>
    </div>
    <div class="form-group row">
      <label for="biography" class="col-sm-3 col-xs-12 control-label">Short biography*</label>
      <app-input-wrapper
        [fieldName]="biography"
        [patternErrorMessage]="'Year must be >1916 and < 2016'"
        [form]="f">
        <textarea class="form-control" id="biography"
          #biography="ngModel" [(ngModel)]="user.biography" name="biography" placeholder="Your biography" required></textarea>
      </app-input-wrapper>
    </div>
    <div class="form-group row">
      <div class="col-sm-offset-3 col-sm-9 col-xs-9">
        <button type="submit" class="btn btn-style" (click)="onSubmit(f.valid)">Save</button>
      </div>
    </div>
  </form>
</div>
