.form-group {
  padding: 10px 0 10px 10px;
}

.control-label, h3 {
  color: #443338 ;
  font-weight: bold;
}

p.error{
  color: #fc152e;
  font-size: 20px;
}

span.error{
  color: #fc152e;
}

.btn-style {
  padding: 5px 30px;
  background: #9FD0D7;
  color: #ECECED;
  letter-spacing: 2px
}

.btn-style:hover {
  padding: 5px 30px;
  background: #9FD0D7;
  color: #648383;
  letter-spacing: 2px
}

