<div class="post" *ngIf="post">
  <h2>{{post.name}}</h2> 
  <h5 class="text-left"><small> Posted at {{post.updatedAt}} by </small><a (click)="goToUserDetail(post)">{{post.author}}</a></h5>   
  <p clas="my-font">{{post.body}}</p>  
</div>
