<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/blog">Blog</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a (click)="onSignOff()">Exit</a></li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-lg-2 sidebar pull-left">
      <ul class="nav nav-stacked">
        <li><a routerLink="./users" routerLinkActive="active">Users</a></li>
        <li><a routerLink="./posts" routerLinkActive="active">Posts</a></li>
        <li><a routerLink="./categories" routerLinkActive="active">Categories</a></li>
      </ul>
    </div>
    <div class="col-sm-9 col-lg-10 main">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

