<div class="user" *ngIf="user">
  <h2 *ngIf="user.firstName">{{user.firstName}} {{user.lastName}} <br>
  <small>{{user.userName}}</small></h2> 
  <h2 *ngIf="!user.firstName">{{user.userName}}</h2> 
  <h5 *ngIf="user.email">Email: {{user.email}}</h5>
  <h5>Born in {{user.birthYear}}</h5>
  <h5>Live in {{user.country}}, {{user.city}}</h5>
  <p class="my-font">{{user.biography}}</p>  
</div>
