.user h2 {
  color: #461221; 
  padding-bottom: 20px;
}

.post h5 {
  color: #d9686e; 
  padding-bottom: 20px;
  font-style: italic;
}

.user div {
  font-size: 20px;
  padding: 10px 10px;
  width: 100%;
}