<div class="col-sm-8 col-xs-12" [ngClass]="{'has-success': fieldName.valid, 'has-error': fieldName.touched && fieldName.invalid}">
  <ng-content></ng-content>
  <span class="error" *ngIf="(fieldName.touched && fieldName.invalid && fieldName.errors.required) || (fieldName.invalid && form.submitted)">Field must be filled</span>
  <span class="error" *ngIf="(fieldName.touched && fieldName.invalid && !fieldName.errors.required) || (fieldName.invalid && form.submitted)">{{patternErrorMessage}}</span>
</div>
