<div class="container">
  <div class="row">
  <nav class="col-xs-12 navbar well" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="./">Blog</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="#">Categories</a></li>
        <li><a href="#">Popular</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" >
        <li><a *ngIf="isSignedIn" >Create post</a></li>
        <li><a routerLink="/login" *ngIf="!isSignedIn">Sign in</a></li>
        <li><a *ngIf="isSignedIn" (click)="onSignOff()">Sign off</a></li>
        <li><a *ngIf="isSignedIn" (click)="goToUserDetail()">Profile</a></li>       
      </ul>
  </nav>
  </div>

  <div class="row">
    <div class="col-md-8 main">
      <router-outlet></router-outlet>
    </div>
    <div class="col-md-3 col-sm-offset-1 sidebar pull-right">
      <ul class="nav nav-stacked">
        <li><h4 class="text-center well-sm">Categories</h4>
          <ul>
             <li><a routerLink="./categories" routerLinkActive="active">Lorem ipsum.</a></li>
             <li><a routerLink="./categories" routerLinkActive="active">Odio reiciendis</a></li>
             <li><a routerLink="./categories" routerLinkActive="active">Dolorum</a></li>
             <li><a routerLink="./categories" routerLinkActive="active">Aspernatur quasi</a></li>
             <li><a routerLink="./categories" routerLinkActive="active">Voluptatibus illo</a></li>
          </ul>
        </li>
        <li><h4 class="text-center well-sm">Popular</h4>
          <ul>
             <li *ngFor="let post of posts">
                <a (click)="goToPostDetail(post)">{{post.name}}</a> 
             </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
