.navbar {
  background-color: #9FD0D7;
  margin-bottom: 0;
  border-top: none;
}

.navbar a{
  background-color: #9FD0D7;
  color: #443338;
  font-size: 18px;
}

.navbar .navbar-brand {
  font-size: 24px;
  margin-right: 20px;
}

.navbar a:hover {
  color: #648383;
}

.main {
  background-color: #ECECED;
  margin-top: 20px;
  padding: 0 20px;
  min-height: calc( 100vh - 110px);
}

.sidebar {
  /*height: calc( 100vh - 51px);*/
  display: block;
  padding: 20px;
  margin-top: 20px;
  background-color: #9FD0D7 ;
  border: 1px solid #9FD0D7 ;
}

.sidebar h4 {
  color: #DDCBBA ;
  background-color: #648383;
}

.sidebar h4 + ul li{
  padding-bottom: 10px;
  list-style: none;
  margin-left: -20px;
  line-height: 1.5;
}

.sidebar li a{
  text-decoration: none;
  color: #443338;
  background-color: #9FD0D7 ;
}

.sidebar li a:hover {
  color: #443338 ;
  background-color: #C9E8E8 ;
}

.my-font {
  font-size: 16px;
}

@media (min-width: 1700px) {
  .container{
    width: 1640px;
  }
}

