<ul class="posts" infinite-scroll [infiniteScrollDistance]="4" [infiniteScrollThrottle]="500" (scrolled)="onScroll()">
  <li *ngFor="let post of posts">
    <div class="row">
      <h3 class="col-xs-12"><a (click)="goToPostDetail(post)" claas="post-title">{{post.name}}</a></h3> 
      <p clas="my-font col-xs-12">{{post.body}}</p>   
      <h5 class="col-xs-6 text-left"><a (click)="goToUserDetail(post)">{{post.author}}</a></h5>
      <h6 class="col-xs-6 text-right">{{post.updatedAt}}</h6>
    </div>
  </li>
</ul>