.posts h3 {
  border-bottom: 2px solid #443338;
}

.posts a {
  color: #648383;
}

.posts a:hover {
  color: #DDCBBA;
  text-decoration: none;
}

.posts li {
  list-style: none;
  margin: 30px 0;
}

.posts div {
  background-color: #C9E8E8;
  color: #443338;
  font-size: 16px;
  padding: 0 10px;
  width: 100%;
}

